nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    background: #C2AFBB;
}

.nav-links{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: end;
    list-style: none;
}

li{
    color: black;
}

h3{
    padding-left: 4%;
    color: black;
}